coloredlogs
jinja2
pandas
pickledb
pydantic
pyqrcode
python-dateutil
PyYAML>=5.0
rich
rotkehlchen @ git+https://github.com/rotki/rotki.git@577b3c0bcc46bf0974a78489da4698e686a83127#egg=rotkehlchen
tabulate
typing_extensions
