coloredlogs
jinja2
pandas
pickledb
pyqrcode
python-dateutil
PyYAML>=5.0
rotkehlchen @ git+https://github.com/rotki/rotki.git@287432444305a0f8072346b54e5dd34c9a6f5a64#egg=rotkehlchen
tabulate
typing_extensions
pydantic
